:root {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.45;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
